<div class="stats-grid-container">
    <div class="character-stats-grid">
        <div class="grid-cell character-stats-grid-div1">STATS</div>
        <div class="grid-cell character-stats-grid-div2">Abbr.</div>
        <div class="grid-cell character-stats-grid-div3">Value</div>
        <div class="grid-cell character-stats-grid-div4">Norm</div>
        <div class="grid-cell character-stats-grid-div5">Race</div>
        <div class="grid-cell character-stats-grid-div6">Total</div>
    </div>
    @for (stat of context.AllStats; track stat.id) {
        <app-character-stat [Stat]="stat"></app-character-stat>
    }

</div>
