.stats-grid-container {
  display: flex;
}

.text-box {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid darkslategray;
}

.character-stats-grid {
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.grid-cell {
  display: flex;
}

.character-stats-grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.character-stats-grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.character-stats-grid-div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.character-stats-grid-div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.character-stats-grid-div5 {
  grid-area: 1 / 5 / 2 / 6;
}

.character-stats-grid-div6 {
  grid-area: 1 / 6 / 2 / 7;
}

.character-stats-grid-div7 {
  grid-area: 2 / 1 / 3 / 2;
}

.character-stats-grid-div8 {
  grid-area: 2 / 2 / 3 / 3;
}

.character-stats-grid-div9 {
  grid-area: 2 / 3 / 3 / 4;
}

.character-stats-grid-div10 {
  grid-area: 2 / 4 / 3 / 5;
}

.character-stats-grid-div11 {
  grid-area: 2 / 5 / 3 / 6;
}

.character-stats-grid-div12 {
  grid-area: 2 / 6 / 3 / 7;
}

.character-stats-grid-div13 {
  grid-area: 3 / 1 / 4 / 2;
}

.character-stats-grid-div14 {
  grid-area: 3 / 2 / 4 / 3;
}

.character-stats-grid-div15 {
  grid-area: 3 / 3 / 4 / 4;
}

.character-stats-grid-div16 {
  grid-area: 3 / 4 / 4 / 5;
}

.character-stats-grid-div17 {
  grid-area: 3 / 5 / 4 / 6;
}

.character-stats-grid-div18 {
  grid-area: 3 / 6 / 4 / 7;
}

.character-stats-grid-div19 {
  grid-area: 4 / 1 / 5 / 2;
}

.character-stats-grid-div20 {
  grid-area: 4 / 2 / 5 / 3;
}

.character-stats-grid-div21 {
  grid-area: 4 / 3 / 5 / 4;
}

.character-stats-grid-div22 {
  grid-area: 4 / 4 / 5 / 5;
}

.character-stats-grid-div23 {
  grid-area: 4 / 5 / 5 / 6;
}

.character-stats-grid-div24 {
  grid-area: 4 / 6 / 5 / 7;
}

.character-stats-grid-div25 {
  grid-area: 5 / 1 / 6 / 2;
}

.character-stats-grid-div26 {
  grid-area: 5 / 2 / 6 / 3;
}

.character-stats-grid-div27 {
  grid-area: 5 / 3 / 6 / 4;
}

.character-stats-grid-div28 {
  grid-area: 5 / 4 / 6 / 5;
}

.character-stats-grid-div29 {
  grid-area: 5 / 5 / 6 / 6;
}

.character-stats-grid-div30 {
  grid-area: 5 / 6 / 6 / 7;
}

.character-stats-grid-div31 {
  grid-area: 6 / 1 / 7 / 2;
}

.character-stats-grid-div32 {
  grid-area: 6 / 2 / 7 / 3;
}

.character-stats-grid-div33 {
  grid-area: 6 / 3 / 7 / 4;
}

.character-stats-grid-div34 {
  grid-area: 6 / 4 / 7 / 5;
}

.character-stats-grid-div35 {
  grid-area: 6 / 5 / 7 / 6;
}

.character-stats-grid-div36 {
  grid-area: 6 / 6 / 7 / 7;
}

.character-stats-grid-div37 {
  grid-area: 7 / 1 / 8 / 2;
}

.character-stats-grid-div38 {
  grid-area: 7 / 2 / 8 / 3;
}

.character-stats-grid-div39 {
  grid-area: 7 / 3 / 8 / 4;
}

.character-stats-grid-div40 {
  grid-area: 7 / 4 / 8 / 5;
}

.character-stats-grid-div41 {
  grid-area: 7 / 5 / 8 / 6;
}

.character-stats-grid-div42 {
  grid-area: 7 / 6 / 8 / 7;
}
