<div class="skill-row-grid">
        <div class="grid-cell skill-row-div1">{{Skill().Name}}</div>
        <div class="grid-cell skill-row-div2">
                <div class="five-percent-rank-grid">
                        <div class="five-percent-rank-grid-div1"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox1"></div>
                        <div class="five-percent-rank-grid-div2"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox2"></div>
                        <div class="five-percent-rank-grid-div3"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox3"></div>
                        <div class="five-percent-rank-grid-div4"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox4"></div>
                        <div class="five-percent-rank-grid-div5"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox5"></div>
                        <div class="five-percent-rank-grid-div6"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox6"></div>
                        <div class="five-percent-rank-grid-div7"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox7"></div>
                        <div class="five-percent-rank-grid-div8"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox8"></div>
                        <div class="five-percent-rank-grid-div9"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox9"></div>
                        <div class="five-percent-rank-grid-div10"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="fivePercentRankCheckbox10"></div>
                </div>
        </div>
        <div class="grid-cell skill-row-div3">
                @if(showTwoPercentSkillRanks){
                <div class="two-percent-rank-grid">
                        <div class="two-percent-rank-grid-div1"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="twoPercentRankCheckbox1"></div>
                        <div class="two-percent-rank-grid-div2"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="twoPercentRankCheckbox2"></div>
                        <div class="two-percent-rank-grid-div3"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="twoPercentRankCheckbox3"></div>
                        <div class="two-percent-rank-grid-div4"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="twoPercentRankCheckbox4"></div>
                        <div class="two-percent-rank-grid-div5"><input class="rank-checkbox" type="checkbox"
                                        [formControl]="twoPercentRankCheckbox5"></div>
                </div>
                }
        </div>
        <div class="grid-cell skill-row-div4">
                @if(Skill().HasManualRankBonus){
                        <input class="text-box" type="text" [formControl]="manualRankBonusControl">
                } @else {
                        <input class="text-box" type="text" disabled="true" [value]="rankBonusSignal()">
                }
        </div>
        <div class="grid-cell skill-row-div5">
                @if(Skill().HasStat){ <span>{{Skill().Stat.Abbreviation}}</span> }
                @if(statTotalBonusSignal){
                <input class="text-box" type="text" disabled="true" [value]="statTotalBonusSignal()">
                } @else {
                <input class="text-box" type="text" disabled="true">
                }
        </div>
        <div class="grid-cell skill-row-div6"><input class="text-box" type="text"></div>
        <div class="grid-cell skill-row-div7"><input class="text-box" type="text" [formControl]="itemBonusControl">
        </div>
        <div class="grid-cell skill-row-div8"><input class="text-box" type="text" [formControl]="specialBonusControl1">
        </div>
        <div class="grid-cell skill-row-div9"><input class="text-box" type="text" [formControl]="specialBonusControl2">
        </div>
        <div class="grid-cell skill-row-div10"><input class="text-box" [value]="skillTotalBonusSignal()" disabled="true"
                        type="text"><span class="line-const">{{Skill().SkillTypeAbbreviation}}</span></div>
</div>
