<div class="skills-grid-container">
  <div class="skill-row-grid">
    <div class="grid-cell skill-row-div1 grid-header-text">
      <span>Movement and Maneuver</span>
    </div>
    <div class="grid-cell skill-row-div2 grid-header-text">
      <span>5% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div3 grid-header-text">
      <span>2% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div4 grid-header-text">
      <span>Rank</span>
    </div>
    <div class="grid-cell skill-row-div5 grid-header-text">
      <span>Stat</span>
    </div>
    <div class="grid-cell skill-row-div6 grid-header-text">
      <span>Prof</span>
    </div>
    <div class="grid-cell skill-row-div7 grid-header-text">
      <span>Item</span>
    </div>
    <div class="grid-cell skill-row-div8 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div9 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div10 grid-header-text">
      <span>Total</span>
    </div>
  </div>
  @for (skill of context.MovingManeuverSkills; track skill.id) {
  <app-character-skill [Skill]="skill"></app-character-skill>
  }

  <div class="skill-row-grid">
    <div class="grid-cell skill-row-div1 grid-header-text">
      <span>Weapon Skills</span>
    </div>
    <div class="grid-cell skill-row-div2 grid-header-text">
      <span>5% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div3 grid-header-text">
      <span>2% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div4 grid-header-text">
      <span>Rank</span>
    </div>
    <div class="grid-cell skill-row-div5 grid-header-text">
      <span>Stat</span>
    </div>
    <div class="grid-cell skill-row-div6 grid-header-text">
      <span>Prof</span>
    </div>
    <div class="grid-cell skill-row-div7 grid-header-text">
      <span>Item</span>
    </div>
    <div class="grid-cell skill-row-div8 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div9 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div10 grid-header-text">
      <span>Total</span>
    </div>
  </div>
  @for (weaponSkill of context.WeaponSkills; track weaponSkill.id) {
  <app-character-skill [Skill]="weaponSkill"></app-character-skill>
  }

  <div class="skill-row-grid">
    <div class="grid-cell skill-row-div1 grid-header-text">
      <span>General Skills</span>
    </div>
    <div class="grid-cell skill-row-div2 grid-header-text">
      <span>5% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div3 grid-header-text">
      <span>2% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div4 grid-header-text">
      <span>Rank</span>
    </div>
    <div class="grid-cell skill-row-div5 grid-header-text">
      <span>Stat</span>
    </div>
    <div class="grid-cell skill-row-div6 grid-header-text">
      <span>Prof</span>
    </div>
    <div class="grid-cell skill-row-div7 grid-header-text">
      <span>Item</span>
    </div>
    <div class="grid-cell skill-row-div8 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div9 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div10 grid-header-text">
      <span>Total</span>
    </div>
  </div>
  @for (generalSkill of context.GeneralSkills; track generalSkill.id) {
  <app-character-skill [Skill]="generalSkill"></app-character-skill>
  }

  <div class="skill-row-grid">
    <div class="grid-cell skill-row-div1 grid-header-text">
      <span>Subterfuge Skills</span>
    </div>
    <div class="grid-cell skill-row-div2 grid-header-text">
      <span>5% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div3 grid-header-text">
      <span>2% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div4 grid-header-text">
      <span>Rank</span>
    </div>
    <div class="grid-cell skill-row-div5 grid-header-text">
      <span>Stat</span>
    </div>
    <div class="grid-cell skill-row-div6 grid-header-text">
      <span>Prof</span>
    </div>
    <div class="grid-cell skill-row-div7 grid-header-text">
      <span>Item</span>
    </div>
    <div class="grid-cell skill-row-div8 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div9 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div10 grid-header-text">
      <span>Total</span>
    </div>
  </div>
  @for (subterfugeSkill of context.SubterfugeSkills; track subterfugeSkill.id) {
  <app-character-skill [Skill]="subterfugeSkill"></app-character-skill>
  }
  <div class="skill-row-grid">
    <div class="grid-cell skill-row-div1 grid-header-text">
      <span>Miscellaneous Skills</span>
    </div>
    <div class="grid-cell skill-row-div2 grid-header-text">
      <span>5% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div3 grid-header-text">
      <span>2% Ranks</span>
    </div>
    <div class="grid-cell skill-row-div4 grid-header-text">
      <span>Rank</span>
    </div>
    <div class="grid-cell skill-row-div5 grid-header-text">
      <span>Stat</span>
    </div>
    <div class="grid-cell skill-row-div6 grid-header-text">
      <span>Prof</span>
    </div>
    <div class="grid-cell skill-row-div7 grid-header-text">
      <span>Item</span>
    </div>
    <div class="grid-cell skill-row-div8 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div9 grid-header-text">
      <span>Spec</span>
    </div>
    <div class="grid-cell skill-row-div10 grid-header-text">
      <span>Total</span>
    </div>
  </div>
  @for (miscSkill of context.MiscSkills; track miscSkill.id) {
  <app-character-skill [Skill]="miscSkill"></app-character-skill>
  }
</div>
