/* You can add global styles to this file, and also import other style files */
.grid-header-text {
  justify-content: center;
  align-content: center;

}

.stats-grid-container {
  display: flex;
  flex-direction: column;
}

.skills-grid-container {
  display: flex;
  flex-direction: column;
}

.text-box {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid darkslategray;
}

.character-stats-grid {
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.grid-cell {
  display: flex;
  flex-direction: row;
}

.character-stats-grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.character-stats-grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.character-stats-grid-div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.character-stats-grid-div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.character-stats-grid-div5 {
  grid-area: 1 / 5 / 2 / 6;
}

.character-stats-grid-div6 {
  grid-area: 1 / 6 / 2 / 7;
}

.skill-row-grid {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr repeat(7, .5fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.skill-row-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.skill-row-div2 {
  justify-content: center;
  grid-area: 1 / 2 / 2 / 3;
}

.skill-row-div3 {
  justify-content: center;
  grid-area: 1 / 3 / 2 / 4;
}

.skill-row-div4 {
  justify-content: center;
  grid-area: 1 / 4 / 2 / 5;
}

.skill-row-div5 {
  justify-content: center;
  grid-area: 1 / 5 / 2 / 6;
}

.skill-row-div6 {
  justify-content: center;
  grid-area: 1 / 6 / 2 / 7;
}

.skill-row-div7 {
  justify-content: center;
  grid-area: 1 / 7 / 2 / 8;
}

.skill-row-div8 {
  justify-content: center;
  grid-area: 1 / 8 / 2 / 9;
}

.skill-row-div9 {
  justify-content: center;
  grid-area: 1 / 9 / 2 / 10;
}

.skill-row-div10 {
  justify-content: center;
  grid-area: 1 / 10 / 2 / 11;
}

.five-percent-rank-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-right: 0px;
}

.five-percent-rank-grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.five-percent-rank-grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.five-percent-rank-grid-div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.five-percent-rank-grid-div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.five-percent-rank-grid-div5 {
  grid-area: 1 / 5 / 2 / 6;
}

.five-percent-rank-grid-div6 {
  grid-area: 1 / 6 / 2 / 7;
}

.five-percent-rank-grid-div7 {
  grid-area: 1 / 7 / 2 / 8;
}

.five-percent-rank-grid-div8 {
  grid-area: 1 / 8 / 2 / 9;
}

.five-percent-rank-grid-div9 {
  grid-area: 1 / 9 / 2 / 10;
}

.five-percent-rank-grid-div10 {
  grid-area: 1 / 10 / 2 / 11;
}

.two-percent-rank-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.two-percent-rank-grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.two-percent-rank-grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.two-percent-rank-grid-div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.two-percent-rank-grid-div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.two-percent-rank-grid-div5 {
  grid-area: 1 / 5 / 2 / 6;
}



.rank-checkbox {
  height: 100%;

}
