.paper {
  background-image: url('/06.jpg');
  background-size: cover;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.select-in-long-cell {
  display: flex;
  justify-self: stretch;
  align-self: center;
  width: 100%;
  /* border-color: rgb(0, 0, 0);
  border-width: 4px;
  border-style: ridge;
  border-radius: 10PX; */
  /* margin: 5px; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 27px;
}

.fixed-width {
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  vertical-align: center;
}

.label-text {
  display: flex;
  vertical-align: center;
}

.top-row-column {
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: ridge;
  border-radius: 10PX;
  padding: 5px;
}

.top-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
  row-gap: 10px;
  margin: 5px;
  padding: 5px;
}

.inventory-box {
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: ridge;
  border-radius: 10PX;
  padding: 5px;
}

.inventory-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
  row-gap: 10px;
  margin: 5px;
  padding: 5px;
}

/* You can add global styles to this file, and also import other style files */
.grid-header-text {
  justify-content: center;
  align-content: center;

}

.stats-grid-container {
  display: flex;
  flex-direction: column;
}

.skills-grid-container {
  display: flex;
  flex-direction: column;
}

.text-box {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid darkslategray;
  text-align: center;
  background: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-box-name {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid darkslategray;
  text-align: center;
  background: transparent;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.character-stats-grid {
  display: grid;
  grid-template-columns: 3fr repeat(5, 1fr);
  grid-template-rows: 30px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.character-stats-grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.character-stats-grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.character-stats-grid-div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.character-stats-grid-div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.character-stats-grid-div5 {
  grid-area: 1 / 5 / 2 / 6;
}

.character-stats-grid-div6 {
  grid-area: 1 / 6 / 2 / 7;
}

.skill-row-grid {
  display: grid;
  grid-template-columns: 1.25fr 2fr 1fr .3fr .5fr repeat(4, .3fr) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.skill-row-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.skill-row-div2 {
  justify-content: center;
  grid-area: 1 / 2 / 2 / 3;
}

.skill-row-div3 {
  justify-content: center;
  grid-area: 1 / 3 / 2 / 4;
}

.skill-row-div4 {
  justify-content: center;
  grid-area: 1 / 4 / 2 / 5;
}

.skill-row-div5 {
  display: flex;
  justify-content: center;
  grid-area: 1 / 5 / 2 / 6;
}

.skill-row-div6 {
  justify-content: center;
  grid-area: 1 / 6 / 2 / 7;
}

.skill-row-div7 {
  justify-content: center;
  grid-area: 1 / 7 / 2 / 8;
}

.skill-row-div8 {
  justify-content: center;
  grid-area: 1 / 8 / 2 / 9;
}

.skill-row-div9 {
  justify-content: center;
  grid-area: 1 / 9 / 2 / 10;
}

.skill-row-div10 {
  justify-content: center;
  grid-area: 1 / 10 / 2 / 11;
}

.five-percent-rank-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-right: 0px;
}

.five-percent-rank-grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.five-percent-rank-grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
}

.five-percent-rank-grid-div3 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
}

.five-percent-rank-grid-div4 {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  align-items: center;
}

.five-percent-rank-grid-div5 {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  align-items: center;
}

.five-percent-rank-grid-div6 {
  grid-area: 1 / 6 / 2 / 7;
  display: flex;
  align-items: center;
}

.five-percent-rank-grid-div7 {
  grid-area: 1 / 7 / 2 / 8;
  display: flex;
  align-items: center;
}

.five-percent-rank-grid-div8 {
  grid-area: 1 / 8 / 2 / 9;
  display: flex;
  align-items: center;
}

.five-percent-rank-grid-div9 {
  grid-area: 1 / 9 / 2 / 10;
  display: flex;
  align-items: center;
}

.five-percent-rank-grid-div10 {
  grid-area: 1 / 10 / 2 / 11;
  display: flex;
  align-items: center;
}

.two-percent-rank-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.two-percent-rank-grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.two-percent-rank-grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
}

.two-percent-rank-grid-div3 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
}

.two-percent-rank-grid-div4 {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  align-items: center;
}

.two-percent-rank-grid-div5 {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  align-items: center;
}



.rank-checkbox {
  height: 100%;
  vertical-align: center;
}

.dice-button {
  border: none;
  background-color: transparent;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
  padding: 5px;
}

.dice-button:hover {
  background-color: lightsalmon;
}

.dice-button:active {
  background-color: lightsalmon;
}

.dice-button-image {
  height: auto;
  width: 20px;
  justify-self: center;
  align-self: center;
}


.button-text {
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;

}

.rounded {
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: ridge;
  border-radius: 10PX;
  padding: 5px;
}

.shadowed {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.shadowed:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

.toast.success {
  background-color: #28a745;
}

.toast.error {
  background-color: #dc3545;
}

.toast.warning {
  background-color: #ffc107;
}
