<div class="card inventory-box" style="display: flex; flex-direction: column;">
  <div style="display: flex; flex-direction: row;">
    <input type="text" style="width: 100px;" placeholder="description">
    <span>Item Type:</span>
    <select style="width: 75px"></select>
    <span>Carried?</span>
    <input type="checkbox">
    <span>Weight:</span>
    <input type="text" style="width: 30px;">
  </div>
  <div style="display: flex; flex-direction: row;">
    <span>Applies to Skill?</span>
    <input type="checkbox">
    <span>Skill:</span>
    <select style="width: 75px"></select>
    <span>Bonus:</span>
    <input type="text" style="width: 30px;">
  </div>
</div>
