.epithet-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.epithet-title {
  display: flex;
  width: 25%;
  justify-content: right;
  align-items: center;
  height: 30px;
}

.epithet-title-text {
  text-align: right;
}

.epithet-data {
  display: flex;
  width: 70%;
  height: 30px;
}
